body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 60px;
  padding: 40px auto 20px auto;
  margin: 40px auto 10px auto;
  margin-left: -20px;
}

h2 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 400px;
  color: grey;
  margin-bottom: 100px;
}

img {
  max-width: 700px;
}

.weather-app {
  border: none;
  padding: 15px 70px;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 30px;
  background: linear-gradient(
    90.7deg,
    rgb(255, 253, 218) 1.9%,
    rgb(246, 210, 255) 39.3%,
    rgb(152, 222, 254) 64.7%,
    rgb(251, 255, 210) 100.8%
  );
  box-shadow: 0 7px 12px 7px rgb(161, 161, 161, 20%);
}

.units {
  font-size: 17px;
  font-weight: 400;
  position: relative;
  top: -30px;
}

.celsius-link {
  text-decoration: none;
}

.city-picker {
  color: rgb(100, 99, 99);
  margin: 70px auto 25px auto;
}

.city-input {
  width: 360px;
  color: grey;
  border-radius: 20px;
  border-width: 0px;
  padding: 5px 15px;
  box-shadow: 0 7px 12px 7px rgb(161, 161, 161, 20%);
}

.search-button {
  background-color: #c2b8ed;
  border-color: #c2b8ed;
  color: white;
  border-radius: 30px;
  border-width: 0px;
  padding: 5px 25px;
  transition: all 200ms ease-in-out;
  margin-left: 30px;
}

.location-button {
  background-color: #c2b8ed;
  border-color: #c2b8ed;
  border-width: 0px;
  color: white;
  border-radius: 30px;
  padding: 5px 17px;
  transition: all 200ms ease-in-out;
}

.hover search-button {
  background-color: lightgrey;
}

.hover location-button {
  background-color: lightgrey;
}

.row {
  max-width: 700px;
}

.coder-cred {
  text-align: center;
  font-family: "PT Mono", monospace;
  font-size: 13px;
}

.coder-link {
  color: #8a73ce;
}

.github-link {
  color: #8a73ce;
}
